<div class="h-[calc(100%-100px)]" class="mt-5 mb-3" *ngIf="loading">
  <div class="grid grid-cols-12 gap-2">
    <div class="col-span-6" *ngFor="let item of loadingCount">
      <app-skeleton-loader height="148px"></app-skeleton-loader>
    </div>
  </div>
</div>

<div class="h-[calc(100%-100px)]" *ngIf="!loading">
  <div class="grid grid-cols-12 gap-2 repo-container-scroll h-full">
    <div
      class="col-span-12 md:col-span-6"
      *ngFor="let repository of repositories"
    >
      <app-repository-card [repository]="repository"></app-repository-card>
    </div>
  </div>
</div>

  <app-pagination
    class="flex justify-center items-center h-[100px]"
    (setPage)="setPage($event)"
    (setStart)="setStart($event)"
    [page]="page"
    [start]="start"
    [next]="repositories?.next"
    [previous]="repositories?.previous"
    [total]="getTotal()"
  ></app-pagination>