<div *ngIf="!userData">No Userdata</div>

<div *ngIf="userData" class="grid-layout">
  <div class="avatar-box">
    <img [src]="userData.avatar_url" alt="avatar" class="avatar" />
  </div>

  <div class="details-box">
    <div class="my-2">
      <h2 class="text-center !text-2xl">{{ userData.name }}</h2>
      <h3 class="text-center tracking-wide">@{{ userData.login }}</h3>
    </div>

    <div class="my-3">
      <h3 class="text-center text-gray-700">{{ userData.bio }}</h3>
    </div>

    <div class="my-3 flex justify-center gap-5">
      <h5 class="text-center !text-[14px]">
        Followers: {{ userData.followers }}
      </h5>
      <h5 class="text-center !text-[14px]">
        Followings: {{ userData.following }}
      </h5>
    </div>

    <div class="my-3">
      <h4 class="text-center flex items-center justify-center">
        <mat-icon class="text-red-500">location_pin</mat-icon>
        {{ userData.location }}
      </h4>
    </div>

    <div class="my-3">
      <a [href]="userData.html_url" target="_blank" *ngIf="userData.html_url">
        <h5 class="links">
          <mat-icon class="text-gray-700">link</mat-icon>
          {{ userData.html_url }}
        </h5>
      </a>

      <a [href]="userData.blog" target="_blank" *ngIf="userData.blog">
        <h5 class="links">
          <mat-icon class="text-gray-700">link</mat-icon>
          {{ userData.blog }}
        </h5>
      </a>
    </div>
  </div>
</div>
